.container .ql-editor{
    width: 100vw;
}

.ql-toolbar{
    width: 100vw;
}
.ql-container{
    width: 85%;
    background-color: white;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    min-height: 100%;
}
@media (max-width: 768px) {
    .ql-container {
        width: 100%;
    }
}